.sectionH{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: relative;
    margin-top: -8vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    animation: zoomout ease-in-out 2s forwards;
}

.sectionH::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: -1;
}

.containerH{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    text-align: center;
    gap: 10rem;
    backdrop-filter: blur(25px) saturate(100%);
	background-color: rgba(255, 255, 255, 0.1);
	margin: 0 auto; 
    border-radius: 25px; 
    padding: 2rem;
}

.containerH h1{
    color: white;
    text-shadow: 
        2px 2px 4px green, 
        -2px -2px 4px green,
        2px -2px 4px green,
        -2px 2px 4px green;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.bannerImage {
    width: auto;
    height: 25rem;
    filter: drop-shadow(10px 10px 10px white);
    z-index: 1;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInRight ease-in-out 2s forwards;
    animation-delay: 2s;
}

.containerH h1,
.containerH p {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInLeft ease-in-out 2s forwards;
    animation-delay: 2s;
}

@media screen and (max-width: 430px){
    .containerH{
        flex-direction: column;
        gap: 5rem;
        padding: 0;
    }
    .containerH h1,
    .containerH p {
        animation: fadeInDown ease-in-out 2s forwards;
    }
    .containerH h1 {
        font-size: 2.5rem;
    }
    .bannerImage {
        animation: fadeInUp ease-in-out 2s forwards;
        height: 20rem;
    }
}

@keyframes zoomout {
    0% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}